Tusky URL detection breaks if capital letters in scheme://

### Steps to reproduce the problem

1. Open Compose in Mastodon Web on PC, and Tusky side by side.
2. In both, type: `Https://example.com` or `HTTPS://EXAMPLE.COM`

**Expected behavior:** Mastodon Web and Tusky should have identical behavior.

**Observed behavior:** Mastodon Web recognizes this as a url the moment you type the letter "O". Tusky cannot recognize anything as a URL, whether typed or pasted, if "https" contains an uppercase letter. After typing the url Tusky predicts 481 letters and Mastodon Web predicts 477 characters.

RFC 1738 §2.1 states clients such as Tusky should accept URL scheme as case insensitive.

#### Notes

This causes problems on my phone because GBoard wants to capitalize the leading H in a URL.

### Debug information

mastodon.social, Android 13, Tusky 26.1 from Play Store